{% extends "app/layout.html" %}

{% block content %}
<br />

<div class="jumbotron"  style="background-color:#00BEFF">
    <h1>querk</h1>
    <p class="lead">querk will help you sift through the massive amounts of data and opinions on Tech Products.<br><br> 
    The Main goal is to put you in front of a video or article with some backbone and realistic opinions for the
     common end-user and techie alike.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4" >
        <h2>Today in Tech</h2>
        <p>
            Most up to date reviews and articles of the coolest tech toys on the market or to be released.
        </p>
        <p><a class="btn btn-primary" href="http://www.djangobook.com/en/2.0/index.html"> Today in Tech</a></p>
    </div>
    <div class="col-md-4">
        <h2>Most Popular Searches</h2>
        <p>What's everyone watching? find out what people are looking to buy or are interested in.</p>
        <p><a class="btn btn-primary" href="https://pypi.python.org/pypi">Most Popular</a></p>
    </div>
    <div class="col-md-4">
        <h2>Poll for next feature</h2>
        <p>This application is always looking to add more features. please submit your response to the this poll and help shape it's next feature.</p>
        <p><a class="btn btn-primary" href="http://azure.microsoft.com">Current Poll</a></p>
    </div>
</div>

{% endblock %}
